{% extends 'layout.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1>{{ title }}</h1>
        <hr>
        <div class="card">
            <div class="card-header text-bg-success">
                Add {{ target.capitalize() }}
            </div>
            <div class="card-body">
                <form method="post">
                    <div class="mb-3">
                        <label for="name" class="form-label">{{ target.capitalize() }} name</label>
                        <input type="text" class="form-control" id="name" name="name">
                    </div>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            <div class="alert alert-danger" role="alert">
                                {% for category, message in messages %}
                                    {% if category == 'error' %}
                                        {{ message }}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endwith %}
                    <button type="submit" class="btn btn-outline-success">
                        <i class="bi bi-pencil-square"></i>
                        Add
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
