{% extends 'layout.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1>{{ title }}</h1>
        <div class="card">
            <div>
                <div class="card-header text-bg-success d-flex justify-content-between align-items-center">
                    <span>List of {{ target }}s</span>
                    <div class="ml-auto d-flex">
                        <a title="Reset" href="{{ url_for('football_club.page_reset', target=target) }}" class="btn btn-outline-light btn-sm">
                            <span>Reset</span>
                            <i class="bi bi-x-square"></i>
                        </a>
                        <div class="me-2"></div>
                        <a title="Add" href="{{ url_for('football_club.page_add', target=target) }}" class="btn btn-outline-light btn-sm">
                            <span>Add</span>
                            <i class="bi bi-plus-square text-white border-white"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <th class="text-start">No.</th>
                        <th class="text-start">Name</th>
                        <th class="text-end">Action</th>
                    </thead>
                    <tbody>
                        {% for id, name in items %}
                                <tr>
                                    <td class="text-start">{{ loop.index }}</td>
                                    <td class="text-start">{{ name }}</td>
                                    <td class="text-end">
                                        <a title="Update" href="{{ url_for('football_club.page_update', target=target, id=id) }}" class="btn btn-outline-success btn-sm">
                                            <i class="bi bi-pencil-square"></i>
                                        </a>
                                        <a title="Delete" href="{{ url_for('football_club.page_delete', target=target, id=id) }}" class="btn btn-outline-danger btn-sm">
                                            <i class="bi bi-file-earmark-x"></i>
                                        </a>
                                    </td>
                                </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
